section{
    border-radius: 50px;
    position: relative;
    top:-100px;
    background-color:#f6f6f6; 
    padding-top: 20px;
    
    
}
img{
    width: 100%;
}
.menu{
    text-align: justify;
    background-color:white;
    border-radius: 30px;
    font-size:large; 
    padding:2px;
    margin-left: 10px;
    margin-right: 10px;
    
    
}
.btn-main
{
    background:linear-gradient(#e571da, #a55cdc) ; padding: 1rem 2rem;
     border-radius:5rem;color:white;font-size: medium;border:none;justify-content: center;
     margin-left: 90px;width: 70%;
}

